<ion-content>
    <div #map id="map" style="height: 100%;"></div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="write-button">
        <ion-fab-button (click)="writeButtonClick()" color="secondary">
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
