.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}
.gmnoprint div {
    background: none !important;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
