<div class="info-container" (click)="closeModal()">
    <div class="info-wrapper" (click)="$event.stopPropagation()">
        <div class="message-box" id="message">
            {{ msg }}
        </div>
        <div class="rating">
            Rating:&nbsp;
            <span
                id="rating"
                *ngIf="doc"
                [ngClass]="{ negative: doc.rating < -10 }"
                [innerHTML]="doc.rating"
            ></span>
        </div>
        <div class="buttons">
            <div class="button" (click)="vote('up')">
                <ion-icon
                    name="arrow-round-up"
                    [ngClass]="{ 'upvote-active': messageUpvoted }"
                ></ion-icon>
            </div>

            <div class="button" (click)="vote('down')">
                <ion-icon
                    name="arrow-round-down"
                    [ngClass]="{ 'downvote-active': messageDownvoted }"
                ></ion-icon>
            </div>

            <div class="button" (click)="showPicture()">
                <ion-icon
                    name="image"
                    [ngClass]="{ 'btn-disabled': !picture }"
                ></ion-icon>
            </div>

            <div class="button" (click)="bookmark()">
                <ion-icon
                    name="bookmark"
                    [ngClass]="{ bookmarked: messageBookmarked }"
                ></ion-icon>
            </div>

            <div class="button" (click)="profile()">
                <ion-icon name="contact"></ion-icon>
            </div>
        </div>
    </div>
</div>
