.info-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);

    .info-wrapper {
        max-height: 40%;
        height: auto;
        width: 80%;
        border-radius: 5px;
        box-shadow: 1px 2px rgba(60, 80, 40, 0.4);
        background-color: #fff;
    }

    .message-box {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
    }

    #message {
        height: calc(100% - 90px);

        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 40px;
    width: 100%;
    border-top: 1px solid rgba(218, 218, 218, 0.5);
    background-color: #fcfcfc;

    #rating {
        font-weight: 600;

        &.negative {
            color: red;
        }
    }
}

.buttons {
    display: flex;

    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(218, 218, 218, 0.5);
    background-color: #f7f7f7;

    .button {
        width: 20%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
            font-size: 26px;
            color: #76766e;
        }
    }

    .button:not(:first-child) {
        border-left: 1px solid rgba(218, 218, 218, 0.25);
    }
}

.btn-disabled {
    color: #cccccc !important;
}

.upvote-active {
    color: #9edf8a !important;
}

.downvote-active {
    color: #e08863 !important;
}

.bookmarked {
    color: red !important;
}
