.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 5% 10%;
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.75);
    }
}
