<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="saved">
            <ion-icon name="bookmarks"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile/{{ uuid }}">
            <ion-icon name="contact"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="info">
            <ion-icon name="information-circle"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
