// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #c09245;
    --ion-color-primary-rgb: 192, 146, 69;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #a9803d;
    --ion-color-primary-tint: #c69d58;

    /** secondary **/
    --ion-color-secondary: #695937;
    --ion-color-secondary-rgb: 105, 89, 55;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #5c4e30;
    --ion-color-secondary-tint: #786a4b;

    /** tertiary **/
    --ion-color-tertiary: #fffd82;
    --ion-color-tertiary-rgb: 255, 253, 130;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0df72;
    --ion-color-tertiary-tint: #fffd8f;

    /** success **/
    --ion-color-success: #b3fd9d;
    --ion-color-success-rgb: 179, 253, 157;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #9edf8a;
    --ion-color-success-tint: #bbfda7;

    /** warning **/
    --ion-color-warning: #ff9b71;
    --ion-color-warning-rgb: 255, 155, 113;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e08863;
    --ion-color-warning-tint: #ffa57f;

    /** danger **/
    --ion-color-danger: #e84855;
    --ion-color-danger-rgb: 232, 72, 85;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cc3f4b;
    --ion-color-danger-tint: #ea5a66;

    /** dark **/
    --ion-color-dark: #182120;
    --ion-color-dark-rgb: 24, 33, 32;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #151d1c;
    --ion-color-dark-tint: #2f3736;

    /** medium **/
    --ion-color-medium: #76766e;
    --ion-color-medium-rgb: 118, 118, 110;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #686861;
    --ion-color-medium-tint: #84847d;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}
