<ion-content>
    <div class="info-wrapper">
        <div class="explanation">
            'Drop It' was made as a school assignment. The intended use was for
            me and my friends to drop each other an occasional message on spots
            we frequent, just for fun.
        </div>

        <div class="about-me">
            My name is Jordi Bols, I am a second(ish) year Computer Science
            student at Thomas More Geel.
        </div>

        <div class="contact">
            You can contact me by any of the following means

            <p class="contact-info">
                <ion-icon name="mail"></ion-icon>
                <a
                    href="mailto:r0631689@student.thomasmore.be"
                    class="contact-link"
                    >r0631689@student.thomasmore.be</a
                >
            </p>
            <p class="contact-info">
                <ion-icon name="call"></ion-icon>
                <a href="tel:+32495577014" class="contact-link"
                    >+32 495 57 70 14</a
                >
            </p>
            <p class="contact-info">
                <ion-icon name="text"></ion-icon>
                <a href="sms:+32495577014" class="contact-link"
                    >+32 495 57 70 14</a
                >
            </p>
        </div>
    </div>
</ion-content>
