.info-wrapper {
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin: auto;

    background-color: rgb(51, 51, 51);
    color: white;

    .contact {
        a {
            margin-left: 6px;
        }
    }
}
