ion-toolbar {
    ion-segment {
        background-color: rgb(40, 40, 40);
    }
}

ion-content {
    width: 100%;
    height: 100%;

    * {
        background-color: rgb(51, 51, 51);
    }

    ion-slides {
        width: 100%;
        height: 100%;
        color: white;

        ion-slide {
            @media screen and (orientation: landscape) {
                width: 100% !important;
            }
            width: 100%;
            height: 100%;
            display: block;

            ion-list {
                width: 100%;
                height: 100%;

                div {
                    width: 100%;
                    height: 66px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 14px;

                    ion-item {
                        min-height: 15%;
                        --inner-padding-end: 0px !important;
                    }

                    ion-avatar {
                        height: 59px;
                        width: 59px;
                        margin: auto;

                        img {
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

#picture {
    width: 75px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#msg-wrapper {
    width: calc(100% - 75px);
    height: 100%;

    display: flex;
    flex-wrap: no-wrap;
    background-color: rgb(51, 51, 51);
    padding-right: 15px !important;

    p {
        display: block;
        padding-right: 0px !important;
    }

    #message {
        width: 100%;
        height: 100%;
        padding-right: 10px;

        #user-name {
            font-size: 20px;
            color: #c09245;
        }

        #msg-content {
            font-size: 16px;
            color: silver;
        }

        #msg-score {
            font-size: 14px;
            color: grey;
        }
    }
}

.no-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: silver;
}
