// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Quicksand');

* {
    font-family: 'Fira Sans', sans-serif;
}

ion-modal.picture-modal,
ion-modal.details-modal {
    background-color: transparent;

    .modal-wrapper {
        background-color: transparent;
    }
}
