#title {
    color: #777777;
    font-variant-caps: small-caps;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.form-item {
    border: 1px solid rgba(131, 131, 131, 0.4);
    border-radius: 10px;
    padding: 10px;

    ion-label {
        font-size: 16px;
        font-weight: 500;
    }

    ion-textarea {
        margin-top: 5px;
    }
}

#submit-button {
    width: 100%;
}
